/docs/
/lib/
/bin/
/.shards/
*.dwarf

/examples/**/docs/
/examples/**/lib/
/examples/**/bin/
/examples/**/.shards/

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock
/shard.override.yml

# Ignore test output
output.xml
output.html
